@media screen and (max-width: 1200px) {
    .brend_group {
        gap: 50px;
        justify-content: center;
    }

    .footer_container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1180px) {
    .slider_container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .grid_card_container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .grid_product_card_container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1150px) {
    .footer_end {
        flex-direction: column;
        gap: 30px;
    }

    .text_inp {
        display: flex;
        align-items: center;
        /* margin-left: 150px; */
    }

    .footer_end .social {
        margin-right: 60px;
    }
    
}

@media screen and (max-width: 1090px) {
    .header_icons{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--black);
        width: 100%;
        padding-top: 5px;
        padding-bottom: 50px;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
        z-index: 999;
        font-size: 3rem;
        color: white;
    }
    .header_icons svg{
        height: 3rem;
    }
    .bars_icon{
        display: block;
    }
    nav{
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: -500px;  
        left: 0;
        width: 30%;
        flex-direction: column;
        z-index: 9999;
        transition: 1s;
    }
    .nav_list{
        display: flex;
        flex-direction: column;
        height: 60vh;

    }
    .nav_list_for_animals_list{
        display: none;
    }
    .active{
        top: 0;
    }

}

@media screen and (max-width: 950px) {
    .header_head_container img {
        margin-left: 60px;
        width: 200px;
    }
    .header_middle_container {
        padding-left: 60px;
    }
    .brend_group img {
        width: 100px;
    }

    .text_inp {
        flex-direction: column;
        gap: 30px;
        margin-left: auto;
        margin-right: auto;
        /* text-align: center; */
    }
}
@media screen and (max-width:870px) {
    .btns {
        gap: 10px;
    } 
    .btns .new_btn {
        font-size: 1.3rem;
        padding: 16px 28px 15px 37px;
    }
    
    .btns .active_btn {
        font-size: 1.3rem;
    }
}
@media screen  and (max-width: 830px) {
    .search_icon {
        width: 150px;
    }
    .btn {
        width: 100px;
        font-size: 1.2rem;
    }
    .header_right_icons {
        gap: 20px;
        margin-right: 120px;
    }
   
}

@media screen  and (max-width: 750px) {
    .header_head_container img {
        margin-left: 30px;
        width: 150px;
    }
    .search_icon {
        width: 130px;
        height: 25px;
    }
    .search_icon i {
        font-size: 1.2rem;
    }
    .btn {
        width: 80px;
        font-size: 1rem;
        height: 25px;
    }
    .btn svg{
        width: 20px;
    }
    .header_right_icons {
        gap: 15px;
        margin-right: 100px;
    }
    .btns .new_btn {
        font-size: 1rem;
        padding: 8px 14px 9px 19px;
    }
    
    .btns .active_btn {
        font-size: 1rem;
    }
    .left_icon {
        margin-right: 200px;
    }
    .right_icon{
        margin-left: 200px;
    }
  
}

@media screen and (max-width: 690px) {
    .brend_group {
        flex-direction: column;
        margin-right: 50px;
        gap: 15px;
    }

    .text {
        text-align: center;
        gap: 3px;
    }

    .text_inp {
        flex-direction: column;
        gap: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer_inp {
        width: 250px;
        height: 35px;
    }

    .footer_end {
        gap: 15px;
    }

    .footer_line_svg {
        margin-top: 15px;
        margin-bottom: 20px;
        width: 100%;
    }
    .left_icon {
        margin-right: 170px;
    }
    .right_icon{
        margin-left: 170px;
    }
}

@media screen  and (max-width: 640px) {
    .header_head_container img {
        margin-left: 15px;
        width: 120px;
    }
    .header_middle_container h1 {
        font-size: 2.6rem;
        max-width: 300px;
    }
    
    .header_middle_container button {
        padding: 6px 20px;
        font-size: 1.7rem;
    }
    .left_icon {
        margin-right: 150px;
    }
    .right_icon{
        margin-left: 150px;
    }
    .section_header_products {
        font-size: 2.8rem;
    }
    .section_header {
        font-size: 2.8rem;
    }
}

@media screen  and (max-width: 590px) {
    .header_right_icons {
        gap: 5px;
        margin-right: 30px;
    }

    .header_middle_container h1 {
        font-size: 2rem;
        max-width: 270px;
    } 
    .header_middle_container button {
        padding: 4px 10px;
        font-size: 1.3rem;
    }
    .left_icon {
        margin-right: 120px;
    }
    .right_icon{
        margin-left: 120px;
    }
    .section_header_products {
        font-size: 1.7rem;
    }
    .section_header {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 530px) {
    .left_icon {
        margin-right: 100px;
    }
    .right_icon{
        margin-left: 100px;
    }
}
@media screen  and (max-width: 460px) {
    .header_right_icons {
        gap: 5px;
        margin-right: 30px;
    }
    .search_icon {
        width: 100px;
        height: 20px;
    }
    .search_icon i {
        font-size: 1rem;
    }
    .btn {
        width: 70px;
        font-size: 0.8rem;
        height: 20px;
        padding-left: 5px;
    }
    .btn svg{
        width: 20px;
    }

    .header_middle_container{
        padding-left: 20px;
    }

    .left_icon {
        margin-right: 60px;
    }
    .right_icon{
        margin-left: 60px;
    }

    .header_icons{
        padding-left: 50px;
        padding-right: 50px;
    }

    .left_2_icon {
        margin-right: 20px;
    }
    
    .right_2_icon {
        margin-left: 20px;
    }
    
}
@media screen  and (max-width: 420px) {
    .header_right_icons {
        margin-right: 10px;
    }

    .header_head_container img {
        margin-left: 5px;
        width: 90px;
    }
    .btn_inp {
        gap: 10px;
    }  
    
}
@media screen and (max-width: 400px) {
    .brend_group img {
        width: 50px;
    }

    .text a {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .footer_inp {
        width: 150px;
        height: 20px;
    }

    .vector_div {
        width: 30px;
    }

    .vector_div svg {
        height: 10px;
    }

    .google_microsoft img {
        width: 60px;
        height: 19px;
    }

    .footer_end svg {
        width: 90px;
    }

    .footer_container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer_line_svg {
        display: none;
    }
    .footer_end{
        padding-bottom: 0;
    }
    .left_icon {
        margin-right: 30px;
    }
    .right_icon{
        margin-left: 30px;
    }
    .left_2_icon {
        margin-right: 5px;
    }
    
    .right_2_icon {
        margin-left: 5px;
    }
}

@media screen and (max-width: 380px) {
    .btns{
        margin-left: 20px;
        margin-right: 20px;
    }
}