:root {
    --blue: #486AA6;
    --white: #fff;
    --yellow: #C1D72D;
    --black: #000;
    --grey: #979797;
    --product_card_color: #FCFCFC;
    --grey1: #EDECEC;

}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select {
    border: none;
    outline: none;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 100vh;
    overflow: hidden;
}



.basket_header{
    height: 20vh;
    border-bottom: 2px solid var(--blue);
}

body {
    font-size: 1.6rem;
}
nav{
    background-color: #486AA6;
}

.header_head_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}

.header_head_container .kataloq_btn{
    border: none;  
    color: white;
    background: none;
    outline: none;
    font-size: 1.8rem;
    
}
.bar_btn{
    background-color: var(--blue);
    border-radius: 6px;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header_right_icons {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 145px;
}

.header_head_container img {
    margin-left: 134px;
    margin-top: 33px;
    margin-bottom: 24px;
    width: 239px;
}


.btn_inp {
    display: flex;
    gap: 24px;
}  

.bars_icon,.close_icon{
    display: none;
} 

.search_icon {
    background: rgba(150, 141, 141, 0.16);
    width: 199px;
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.search {
    background: none;
    border: none;
    outline: none;
    width: 85%;
    font-size: 2rem;
    padding-left: 10px;
}


.btn {
    display: flex;
    align-items: center;
    gap: 1px;
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    padding-left: 10px;
    width: 119px;
    height: 36px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 400;
}

.header_icons {
    display: flex;
    gap: 21px;
}

.basket_icon_container{
    display: flex;
    position: relative;
}

.count_div{
    position: absolute;
    background-color: var(--blue);
    bottom: 15px;
    left: 15px;
    border-radius: 3px;
    width: 18px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

.nav_list {
    display: flex; 
    max-width: 1092px; 
    margin-left: auto; 
    margin-right: auto;
    gap: 48px; 
    padding-top: 30px;
    padding-bottom: 32px;
    height: 5vh;
    justify-content: center;
    align-items: center; 
}

.nav_list li a{
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 300;
    display: flex;
    gap: 8px;
    align-items: center;
}

.nav_list_for_animals{
    position: relative;
    height: 50px;
    display: flex;  
}
.nav_list_for_animals_list{
    position: absolute;
    top: -500px;
    z-index: 999;
    background-color: var(--white);
    width: 245px;
    height: 300px;
    border-radius: 3px; 
}
.nav_list_for_animals:hover .nav_list_for_animals_list{
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    
}
.nav_list_for_animals:hover a{
    color: yellow;
}
.nav_list_for_animals:hover a svg{
    transform: rotate(180deg);
}

.nav_list_for_animals:hover .nav_list_for_animals_list li a{
    color: #9A9A98;
    padding-left: 10px;
    padding-top: 10px; 
    padding-bottom: 10px;
    font-size: 1.5rem;
}
.nav_list_for_animals:hover .nav_list_for_animals_list li a:hover{
    background-color: var(--blue);
    color: var(--white);
}


.header_middle_container {
    background-image: url(./images/3469432\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 162px;
}

.header_slider_container{
    height: 80vh;

}

.header_middle_container h1 {
    color: var(--white);
    font-size: 3.8rem;
    font-weight: 400;
    max-width: 542px;
    margin-top: 198px;
    display: flex;
    flex-direction: column;
}

.header_middle_container h1 span {
    color: var(--yellow);
    font-weight: 700;
}

.header_middle_container button {
    border-radius: 14px;
    background: var(--yellow);
    padding: 12px 31px;
    border: none;
    font-size: 2.1rem;
    font-weight: 700;
    margin-top: 30px;
}

/* main section 1 */
.section_header_products {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 83px;
}

.slider_container {
    display: flex;
    max-width: 1328px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.slider_container1{
    height: 500px;
}

.left_icon {
    margin-right: 230px;
}

.animals_container {
    display: flex;
    gap: 87px;  
    overflow-x: hidden;
}

.right_icon {
    margin-left: 230px;
}

.card_middle {
    margin-top: 116px;
    min-width: 210px;
    transition: 1s;
}

.card {
    min-width: 210px;
    transition: 1s;
}

.card p {
    color: var(--black);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 26px;
}

/* main section 2 */

.section_header {
    margin-top: 94px;
    margin-bottom: 42px;
    color: var(--black);
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
}

.grid_card_container {
    max-width: 1172px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    gap: 20px; 
}


.card_basket {
    min-width: 278px;
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
}

.card_basket img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
}
.card_basket_content{
    position: relative;
    /* height: 245px; */
}

.heart_icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 51px;
    height: 41px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center; 
}

.basket_btn {
    position: absolute;
    left: 19px;
    bottom: 18px;
    display: flex;
    gap: 4px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.85);
    padding: 8px 21px 10px 24px;
    border: none;
    outline: none;
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 400;
    align-items: center;
}



.card_basket .price {
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 28px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

/* main section 3 */
.btns {
    display: flex;
    gap: 14px;
    margin-bottom: 46px;
    justify-content: center;
    align-items: center;
}

.btns .new_btn {
    /* min-width: 181px; */
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 9px;
    border: 0.3px solid var(--grey);
    background: var(--white);
    padding: 16px 28px 15px 37px;
}

.btns .active_btn {
    border-radius: 9px;
    background: rgba(72, 106, 166, 0.89);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
}

.grid_product_card_container {
    max-width: 1169px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    gap: 19px;
}

.product_card {
    min-width: 278px;
    border-radius: 6px;
    background: var(--product_card_color);
    box-shadow: 0px 0px 9px 0px rgba(69, 69, 69, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_card img {
    min-width: 252px;
    margin-top: 16px;
    margin-bottom: 11px;
}

.product_card .title {
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 9px;
}

.product_card .product_price {
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.icon_btn {
    display: flex;
    gap: 96px;
    max-width: 252px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

.icon_btn button {
    display: flex;
    gap: 4px;
    border-radius: 6px;
    background: var(--grey1);
    padding: 8px 21px 10px 24px;
    border: none;
    outline: none;
    /* color: var(--black);
    font-size: 1.4rem;
    font-weight: 400; */
}

.heart_card_icon {
    width: 50px;
    height: 41px;
    background-color: var(--grey1);
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main section 4 */

.service_cards {
    background-image: url('./images/pet-accessories-still-life-concept-with-grooming-objects-food\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-bottom: 189px;
}

.service_card_container {
    display: flex;
    gap: 19px;
    overflow-x: hidden;
}

.service_card {
    min-width: 278px;
    border-radius: 10px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 76px;
    gap: 17px;
    margin-top: 36px;
    margin-bottom: 36px;
    transition: 1s;
}

.left_2_icon {
    margin-right: 50px;
}

.right_2_icon {
    margin-left: 50px;
}

.service_card p {
    margin-bottom: 78px;
    color: #1D1D1B;
    font-size: 18px;
    font-weight: 400;
}

/* footer */
footer {
    background: rgba(150, 141, 141, 0.40);
}

.footer_container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.brend_group {
    display: flex;
    gap: 110px;
    padding-top: 32px;
    align-items: center;
}

.footer_line_svg {
    margin-top: 26px;
    margin-bottom: 45px;
    width: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 124px;
}
.text_inp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text a {
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 400;
}
.footer_end{
    display: flex;
    align-items: center;
    padding-bottom: 51px;
}
.footer_inp{
    width: 355px;
    height: 50px;
    display: flex;
    align-items: center;
    background: rgba(29, 29, 27, 0.17);
    margin-right: 85px;
}
.footer_inp input{
    background: none;
    border: none;
    outline: none;
    width: 85%;
    font-size: 2.5rem;
    padding-left: 10px;
}

.vector_div{
    width: 95px;
    height: 100%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.google_microsoft{
    display: flex;
    gap: 2px;
    align-items: center;
    margin-right: 74px;
}
.google_microsoft img{
    width: 130px;
    height: 38px;
}
@keyframes test{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.show{
    /* display: block; */
    animation: test 2s;
}
.hide{
    display: none;
}

/* basket html */
.basket_card{
    max-width: 900px;
    margin-left: 134px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.basket_card .basket_img_icon img{
    width: 120px;
    height: 150px;
}

.basket_img_icon{
    position: relative;
}
.basket_img_icon .heart_icon{
    position: absolute;
    width: 30px;

}
.b_buttons{
    display: flex;
    gap: 5px;
    align-items: center;
}
.b_buttons button{
    padding: 5px 6px;
    border-radius: 50%;
    border: none;
    color: var(--black);
    font-size: 2rem;
}
.b_buttons span{
    font-size: 2rem;
}

.basket_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.card_basket .basket_product{
    font-size: 2rem;
    color: var(--blue);
    font-weight: 700;
}

.card_basket .basket_price{
    color: var(--black);
    font-size: 2rem;
    font-weight: 700;
    margin-right: 50px;
}